<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartVendas</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
  {% endif %}
{% endwith %}
<body class="bg-dark text-white text-center">

    <div class="container mt-5">
        <button class="btn btn-outline-danger btn-lg distant" onclick="window.location.href='/cliente/lista'">
            Voltar
        </button>
        <hr>
        <h1>Editar Cliente</h1><br>

            <div class="div-id">
                <div class="div-int">
                    <a class="badge text-bg-danger" style="font-size: 15px;">ID(o ID é único e não pode ser alterado):</a>
                    <a style="font-size: 30px;" class="badge text-bg" id="display-id"></a>
                </div> <br>
                <div class="div-int">
                    <a class="badge text-bg-danger" style="font-size: 15px;">CPF(o CPF é único e não pode ser alterado)</a>
                    <a style="font-size: 30px;" class="badge text-bg">###.###.###-##</a>
                </div><br>
            </div>
            <input class="ipt-cadastro"  type="text" id="nome" placeholder="Nome" required><br>
            <input class="ipt-cadastro"  type="email" id="email" placeholder="Email"required><br><br>

            <button class="btn btn-outline-success btn-lg" onclick="editar()">
                Alterar
            </button>
        <br><hr><br>
            <button class="btn btn-outline-danger" onclick="deletar()">
                Excluir Cliente
            </button>
    </div>
    <script src="{{ url_for('static', filename='script-clientes.js') }}"></script>
    <script>
        const id = window.location.pathname.split("/").pop();
        carregarCliente(); 
    </script>
</body>
</html>