<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartVendas</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark text-white text-center">

    <div class="container mt-5">
        <div class="home-buttons">
            <button class="btn btn-outline-danger btn-lg"onclick="window.location.href='/'">
                Home
            </button>
            <button class="btn btn-outline-danger btn-lg distant"onclick="window.location.href='/vendas/lista'">
                Voltar
            </button>
        </div>
        <hr>
        <h1>Detalhes da Venda</h1>

        <table class="table table-dark table-striped">
            <thead class="table-warning">
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unit.</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="tabela-venda"></tbody>
        </table>
 
        <br><hr><br>
        <div style="display: flex; justify-content: right;">
            <button class="btn btn-outline-danger" onclick="deletar()">
                Excluir Venda
            </button>
        </div>

    </div>
<script src="{{ url_for('static', filename='script-vendas.js') }}"></script>
<script>
    const id = window.location.pathname.split("/").pop();
    carregarVenda();
</script>
</body>
</html>